h1 {
    color: rgb(0, 220, 0);
    font-family: 'SourceCode', 'Courier New';
    font-weight: semibold;
    margin: 0px 50px;
}

h3 {
    color: rgb(255, 255, 255);
    font-family:'SourceCode', 'Courier New';
    margin: 0px 50px;
}

p {
    color: white;
    font-family: 'SourceCode', 'Courier New';
    margin: 0px 50px;
}

body {
    background-color: rgb(0, 0, 170);
}

.button {
  border: none;
  color: white;
  background-color: rgb(0, 0, 170);
  padding: 5px 5px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px 50px;
  cursor: pointer;
  font-family: 'SourceCode', 'Courier New';
}

.button:hover{
  color: rgb(0, 255, 0);
  background-color: rgb(50, 50, 170);
}

a {
    border: none;
    color: white;
    background-color: rgb(0, 0, 170);
    padding: 5px 5px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 50px;
    cursor: pointer;
    font-family: 'SourceCode', 'Courier New';
  }

  a:hover{
    color: rgb(0, 255, 0);
    background-color: rgb(50, 50, 170);
  }

iframe {
    border: none;
    width: 93%;
    height: 1000px;
}

.ttlG {
  color: rgb(0, 220, 0);
  font-weight: bolder;
}

.bold {
  font-weight: bold;
}

.dialogue {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.active {
  background-color: rgb(50, 50, 255);
}