h1 {
    color: rgb(0, 220, 0);
    font-family:'Courier New', Courier, monospace;
    margin: 0px 50px;
}

h3 {
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    margin: 0px 50px;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 50px;
}

body {
    background-color: rgb(0, 0, 170);
}

a {
    border: none;
    color: white;
    background-color: rgb(0, 0, 170);
    padding: 5px 5px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 50px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  }

  a:hover{
    color: rgb(0, 255, 0);
    background-color: rgb(50, 50, 170);
  }

iframe {
    border: none;
    width: 93%;
    height: 1000px;
}

.ttlG {
  color: rgb(0, 220, 0);
  font-weight: bolder;
}

.bold {
  font-weight: bold;
}

.dialogue {
  margin-bottom: 20px;
}